# Environment configs
venv/
.env
.envrc
.vscode/

# Python stuff
*__pycache__*

*.prof
.magicindex.json
.python-version

# Testing
.pytest_cache
.coverage
htmlcov/*
profiling/*

# Mac weird files
.DS_Store

.ipynb_checkpoints/*
